body {
	margin: 0;
	color: #fff;
	font-family: monospace;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	z-index: 1;
}

#info-left {
	position: absolute;
	top: 0px;
	width: 50%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	z-index: 1;
}

#menu {
	color: #fff;
	background-color: #000;
	position: absolute;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: auto;
}

canvas {
	position: absolute;
	width: 50%;
	height: 100%;
}