canvas {
	position: absolute;
	width: 50%;
	height: 100%;
	touch-action: none;
	user-select: none;
}

body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
}

a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1;
	line-height: 30px;
}

a,
button,
input,
select {
	pointer-events: auto;
}

.lil-gui {
	z-index: 2 !important;
}

@media all and (max-width: 640px) {
	.lil-gui.root {
		right: auto;
		top: auto;
		max-height: 50%;
		max-width: 80%;
		bottom: 0;
		left: 0;
	}
}

.blink {
	padding: 5px 10px;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 20px;
	transition: 0.2s;
}

.blink.active-sphere {
	background: #6c6ad3;
}

.blink.active-box {
	background: #c45e5e;
}